version: '3.8'

services:
  # Base de datos única (MariaDB)
  mariadb:
    image: mariadb:10.11
    container_name: mariadb
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASS}
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - wallet_net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u${DB_USER}", "-p${DB_PASS}"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Microservicios (Solo los vitales)
  auth_service:
    build: ./auth_service
    restart: always
    ports:
      - "8001:8000"
    networks:
      - wallet_net
    depends_on:
      mariadb:
        condition: service_healthy

  balance_service:
    build: ./balance_service
    restart: always
    ports:
      - "8003:8000"
    networks:
      - wallet_net
    depends_on:
      mariadb:
        condition: service_healthy

  ledger_service:
    build: ./ledger_service
    restart: always
    ports:
      - "8002:8000"
    networks:
      - wallet_net
    depends_on:
      mariadb: # Ahora depende de MariaDB, NO de Cassandra
        condition: service_healthy

  group_service:
    build: ./group_service
    restart: always
    ports:
      - "8004:8000"
    networks:
      - wallet_net
    depends_on:
      mariadb:
        condition: service_healthy

  gateway_service:
    build: ./gateway_service
    restart: always
    ports:
      - "8080:8080" # Este es el único puerto público real
    networks:
      - wallet_net
    depends_on:
      - auth_service
      - balance_service
      - ledger_service
      - group_service

networks:
  wallet_net:
    driver: bridge

volumes:
  mariadb_data: